:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --hero-text-color: #ffffff;
}

body {
  color: var(--primary-text-color);
}
ul {
  list-style: none;
}

/* цвет основного текста background: #212121 
*/
/* вторичный цвет текста  #757575 */

/*  белый #FFFFFF */
/* акцент #2196F3 */

/* цвет фона основной секции и футера #2F303A */
/* цвет фона чем мы занимаемся #2F303A */
/* цвет фона наша команда #F5F4FA */

/* шапка */
.logo {
  color: var(--accent-color);
}
.logo-part {
  color: var(--primary-text-color);
}
/* hero */
.hero-title {
  color: var(--hero-text-color);
}
/* site nav */
.site-nav a {
  color: var(--primary-text-color);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
.section-title {
  color: var(--title-text-color);
}
