body {
  color: #212121;
}

/* цвет основного текста background: #212121 
*/
/* вторичный цвет текста  #757575 */

/*  белый #FFFFFF */
/* акцент #2196F3 */

/* цвет фона основной секции и футера #2F303A */
/* цвет фона чем мы занимаемся #2F303A */
/* цвет фона наша команда #F5F4FA */

/* шапка */
.logo {
  color: #2196f3;
}
.logo-part {
  color: #212121;
}
